@use "../../../../modules/mixins" as mix;

.product__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    row-gap: 20px;

    @include mix.responsive(tablet-m) {
        padding-top: 100px;
    }

    @include mix.responsive(tablet-s) {
        padding-top: 100px;
    }

    @include mix.responsive(mobile) {
        padding-top: 100px;
    }
}

