@use "../../../../modules/mixins" as mix;

.welcome__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    max-width: 400px;
    height: fit-content;
    z-index: 1;
    position: relative;

    @include mix.responsive(mobile) {
        margin-top: 20px;
    }

    @include mix.responsive(tablet-s) {
        margin-top: 20px;
    }
}