@use "../../../../modules/mixins" as mix;

.search__input {
    @include mix.font("Quicksand", 16px);
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px;
    background-color: #f6f6f6;
    border: 1px solid #b6b6b6;
    outline: none;
    padding: 0 40px 0 10px;
    width: 100%;
    box-shadow: 0px 2px 4px 1px rgba(27, 28, 29, 0.11);
    transition: .5s;

    &:focus {
        background-color: #FFFFFF;
        border-color: rgba(0, 0, 0, 0.19);
    }
}