@forward "./__img/welcome__img";
@forward "./__content/welcome__content";
@forward "./__title/welcome__title";
@forward "./__subtitle/welcome__subtitle";

.welcome {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: auto minmax(100px, 400px) 1fr;
    align-items: center
}