.summary__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    height: 100%;
}

@media (max-width: 1065px) {
    .summary__main {
        align-items: center;
    }

    
}