.search__icon {
    background: url("../assets/icons/loupe.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    right: 7px;
    bottom: 4px;
    opacity: .7;
    display: block;
    position: absolute;
}