@use "../../../modules/mixins" as mix;
@use "../../../modules/colors" as *;

.products-count {
    position: absolute;
    margin: 0;
    margin-bottom: 28px;
    @include mix.font("Quicksand", 20px);
    color: $main-grey;
}