@use "../../../../../modules/mixins" as mix;

.arrow__left {
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.2;

    @include mix.responsive(mobile) {
        width: 25px;
        height: 25px;
    }
}

.arrow__right {
    width: 50px;
    height: 50px;
    cursor: pointer;

    @include mix.responsive(mobile) {
        width: 25px;
        height: 25px;
    }
}