@use "../../../../modules/mixins" as mix;

.welcome__title {
    @include mix.font("FiraSans", 70px);
    font-weight: 500;
    text-transform: lowercase;
    margin: 0;
    transition: 0.1s;
    color: #373737;
    line-height: 75px;

    span {
        color: red;
    }
}