@use "../../../../modules/mixins" as mix;

.welcome__title {
    @include mix.font("FiraSans", 70px);
    font-weight: 500;
    text-transform: lowercase;
    margin: 0;
    transition: 0.1s;
    color: #373737;
    line-height: 75px;

    span {
        color: red;
    }

    @include mix.responsive(desktop-s) {
        font-size: 60px;
        line-height: 65px;
    }

    @include mix.responsive(tablet-m) {
        font-size: 55px;
        line-height: 60px;
    }

    @include mix.responsive(tablet-s) {
        font-size: 50px;
        line-height: 55px;
    }

    @include mix.responsive(mobile) {
        font-size: 45px;
        line-height: 50px;
    }
}