.summary__input {
    font-size: 14px;
    border-radius: 5px;
    background-color: hsla(0deg, 0%, 94%, 0.26);
    border: 1px solid #dfdfdf;
    outline: none;
    padding: 5px;
    font-family: "Quicksand";
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px;
    background-color: #f6f6f6;
    border: 1px solid #b6b6b6;
    outline: none;
    width: 100%;
    box-shadow: 0px 2px 4px 1px rgb(27 28 29 / 11%);
    transition: 0.5s;
}

.summary__input:focus {
    background-color: #fff;
    border-color: rgba(0,0,0,.19);
    outline: none;
}

@media (max-width: 1065px) {
    .summary__input {
        width: 300px;
        text-align: center;
    }
}

@media (max-width: 430px) {
    .summary__input {
        width: 250px;
    }
}