@keyframes changeColor {
    0% {
        text-shadow: 1px 1px 8px yellow;
    }
    10% {
        text-shadow: 1px 1px 8px rgb(102, 255, 0);
    }
    20% {
        text-shadow: 1px 1px 8px rgb(0, 255, 179);
    }
    30% {
        text-shadow: 1px 1px 8px rgb(0, 102, 255);
    }
    40% {
        text-shadow: 1px 1px 8px rgb(98, 0, 255);
    }
    50% {
        text-shadow: 1px 1px 8px rgb(183, 0, 255);
    }
    60% {
        text-shadow: 1px 1px 8px rgb(234, 0, 255);
    }
    70% {
        text-shadow: 1px 1px 8px rgb(255, 0, 43);
    }
    80% {
        text-shadow: 1px 1px 8px rgb(255, 60, 0);
    }
    90% {
        text-shadow: 1px 1px 8px rgb(255, 136, 0);
    }
    100% {
        text-shadow: 1px 1px 8px yellow;
    }
}

main {

    display: flex;
    justify-content: center;

    .main__wrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        padding-top: 100px;
    }

    .logo__image {
        width: 600px;
    }

    .welcome__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }

    .welcome__title {
        font-size: 70px;
        margin: 0;
        transition: 0.1s;
        color: #373737;
        cursor: default;
        max-width: 400px;
    }

    .welcome__subtitle {
        cursor: default;
        max-width: 400px;
    }

    .welcome__button {
        max-width: 400px;
        cursor: pointer;
        border: none;
        font-size: 24px;
        background-color: transparent;
        transition: 0.2s;
        text-shadow: 1px 1px 4px #282c30;
        border-radius: 5px;
    }

    .welcome__button:hover {
        background-color: #010a1354;
    }

}

.text-shadow {
    animation-name: changeColor;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}