@forward "./__wrapper/modal__wrapper";
@forward "./__bg/modal__bg";
@forward "./__form/modal__form";
@forward "./__name/modal__name";
@forward "./__phone/modal__phone";
@forward "./__address/modal__address";
@forward "./__email/modal__email";
@forward "./__credit-card-wrapper/modal__credit-card-wrapper";
@forward "./__credit-card-number-logo/modal__credit-card-number-logo";
@forward "./__credit-card-number-container/modal__credit-card-number-container";
@forward "./__credit-card-number/modal__credit-card-number";
@forward "./__credit-card-date/modal__credit-card-date";
@forward "./__credit-card-date-cvv/modal__credit-card-date-cvv";
@forward "./__credit-card-cvv/modal__credit-card-cvv";
@forward "./__button-confirm/modal__button-confirm";
@forward "./__phone-label/modal__phone-label";
@forward "./__phone-wrapper/modal__phone-wrapper";
@forward "./__popup-bg/modal__popup-bg";
@forward "./__popup/modal__popup";
@forward "./__popup-logo/modal__popup-logo";