@forward "./__container/main__container";
@forward "./__welcome/main__welcome";
@forward "./__catalog/main__catalog";
@forward "./__error/main__error";

.main {
    display: flex;
    justify-content: center;
    grid-area: main;
}