.summary__button {
    cursor: pointer;
    border-radius: 5px;
    background-color: hsla(0,0%,94%,.26);
    border: 1px solid #dfdfdf;
    transition: .2s;
    font-weight: bold;
}

.summary__button:hover {
    background-color: #fff;
    border-color: rgba(0,0,0,.19);
}

@media (max-width: 1065px) {
    .summary__button {
        width: 312px;
        padding: 5px;
    }
}

@media (max-width: 430px) {
    .summary__button {
        width: 262px;
    }
}