@forward "./__list/nav__list";

@forward "./__item/nav__item";

@forward "./__link/nav__link";
@forward "./__link/_state/_hovered/nav__link_state_hovered";

@use "../../../modules/mixins" as mix;

.nav {
    display: flex;
    align-items: center;
    column-gap: 10px;

    @include mix.responsive(tablet-s) {
        display: none;
    }

    @include mix.responsive(mobile) {
        display: none;
    }
}