.modal__popup-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
}