@use "../../../../modules/mixins" as mix;

.nav__link {
    @include mix.font("Quicksand", 22px);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    padding: 7% 20px;
    color: #ffffff7e;

    @include mix.responsive(tablet-s) {
        padding: 15px;
        color: #ffffffcb;
    }

    @include mix.responsive(mobile) {
        padding: 15px;
        color: #ffffffcb;
    }
}