.cart__product-image {
    width: 200px;
    height: 150px;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 780px) {
    .cart__product-image {
        width: 150px;
        height: 100px;
    }
}