@forward "./__subtitle/total__subtitle";
@forward "./__value/total__value";

.total {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-family: 'Quicksand';
    font-size: 20px;
    color: #d8d8d8;
    opacity: 0;
    visibility: hidden;
    transition: none;
}