@forward "./__wrapper/product__wrapper";
@forward "./__slider/product__slider";
@forward "./__title/product__title";
@forward "./__brand/product__brand";
@forward "./__description/product__description";
@forward "./__buttons/product__buttons";
@forward "./__button/product__button";