@use "../../../../modules/mixins" as mix;
@use "../../../../modules/colors" as *;

.authors__title {
    @include mix.font("Quicksand", 18px);
    color: $main-grey;
    display: inline;
    margin: 0;
}