@use "../../../../modules/mixins" as mix;

.multimedia__icon {
    width: 60px;
    height: 60px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }

    &:nth-child(odd) {
        margin-top: 25px;
    }

    @include mix.responsive(desktop-s) {
        width: 55px;
        height: 55px;
    }

    @include mix.responsive(tablet-m) {
        width: 48px;
        height: 48px;
    }

    @include mix.responsive(mobile) {
        width: 75px;
        height: 75px;
        &:nth-child(odd) {
            margin-top: 0;
            margin-left: 100px;
        }
        &:nth-child(even) {
            margin-top: 0;
            margin-right: 100px;
        }
    }
}