@forward "./_state/_active/nav__item_state_active";
@use "../../../../modules/mixins" as mix;

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: #010a1354;
    }

    @include mix.responsive(tablet-s) {
        &:hover {
            background-color: rgba(255, 255, 255, 0.418);
        }
    }

    @include mix.responsive(mobile) {
        &:hover {
            background-color: rgba(255, 255, 255, 0.418);
        }
    }
}