@forward "./_state/_active/nav__item_state_active";

.nav__item {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    padding: 0 20px;
    position: relative;

    &:hover {
        background-color: #010a1354;
    }
}