@use "../../../../modules/mixins" as mix;

.welcome__subtitle {
    @include mix.font("FiraSans", 20px);
    font-weight: 300;
    line-height: 30px;

    @include mix.responsive(tablet-m) {
        font-size: 18px;
    }
}