@use "../../../../../modules/mixins" as mix;

.slider__images {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    transition: 0.3s;
    cursor: pointer;

    @include mix.responsive(tablet-m) {
        width: 300px;
        height: 200px;
    }

    @include mix.responsive(tablet-s) {
        width: 300px;
        height: 200px;
    }

    @include mix.responsive(mobile) {
        padding-top: 100px;
        width: 250px;
        height: 100px;
    }
}

.slider__images:hover {
    transform: scale(1.1);
}