.products-in-cart__container {
    width: 75%;
    height: 100%;
    display: flex;
    background-color: #f6f6f6;
    border-radius: 10px;
    border: 1px solid #b6b6b6;
    box-shadow: 0 2px 4px 1px rgb(27 28 29 / 11%);
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
    row-gap: 15px;
    max-height: 750px;
}

@media (max-width: 1065px) {
    .products-in-cart__container {
        width: 100%;
    }
}