@use "../../../../modules/mixins" as mix;

.filters-content__title {
    @include mix.font("Quicksand", 20px);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    // text-shadow: 1px 1px 2px #06192c;
    margin: 0;
}