@use "../../../modules/mixins" as mix;
@forward "./__welcome/btn__welcome";

.btn {
    @include mix.font("Quicksand", 24px);
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.2s;
    text-shadow: 1px 1px 4px #282c30;
    border-radius: 5px;
    padding: 0;

    &:hover {
        background-color: #010a1354;
    }
}