@use "../../../modules/mixins" as mix;

.cart {
    width: 28px;
    margin-bottom: 5px;
    align-self: flex-end;

    @include mix.responsive(tablet-s) {
        margin-bottom: 0;
    }

    @include mix.responsive(mobile) {
        margin-bottom: 0;
    }
}