@use '../modules/mixins.scss' as mix;

header {
    height: 90px;
    background-color: black;
}

header .logo {
    margin: 0;
    color: aliceblue;
}

header .logo .logo__link {
    margin: 0;
    color: aliceblue;
    @include mix.font('Roboto', 45px);
}

header .navigation .navigation__list {
    margin: 0;
}
